

{% extends "base-front.html.twig" %}

{% block body %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->

<div
      class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50"
      data-bg-src="Front/img/breadcumb/breadcumb-1.jpg"
      data-overlay
    >
      <div class="container z-index-common">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title h1 text-white my-0">Cart</h1>
          <h2 class="breadcumb-bg-title">Cart</h2>
          <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
            <li>
              <a href="index-2.html"><i class="fal fa-home"></i>Home</a>
            </li>
            <li class="active">Shop</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">remove</th>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="li-product-price">Unit Price</th>
                                    <th class="li-product-quantity">Quantity</th>
                                    <th class="li-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in elements %}
                                <tr>
								


                                    <td class="li-product-remove"><a  class="btn btn-danger" href="{{path("cart_delete",{id: element.produit.id})}}"><i class="fa fa-trash-o"></i> delete</a></td>
                                    <td class="li-product-thumbnail"><a href="#"><img src="{{asset('uploads/') ~ element.produit.image }}" width="200" height="200" alt="Li's Product Image"></a></td>
                                    <td class="li-product-name"><a href="#">{{ element.produit.Nom}}</a></td>
                                    <td class="li-product-price"><span class="amount">{{ element.produit.prixProd}}DT</span></td>
                                    <td class="quantity">
                                        <a href="{{path("cart_remove",{id: element.produit.id})}}"><i class="fa fa-angle-down" style="font-size:28px"></i></a>
                                        <a href="{{path("cart_add",{id: element.produit.id})}}"><i class="fa fa-angle-up" style="font-size:28px"></i></a>
                                        <div>
                                            
                                            <span >{{ element.quantite}}</span>
                                        
                                            </div>
                                           
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{ element.quantite * element.produit.prixProd }}DT</span></td>
                                </tr>
                                {% else %}
                                <td colspan="5" class="text-center">Votre Panier est vide</td>
                               {% endfor %}
                            </tbody>
                            	<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 1.99</strong></td>
						</tr>
						<tr>
							<td><a href="{{path("cart_deleteall")}}" class="btn btn-warning"><i class="fa fa-trash-o"></i> Vider le panier </a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total {{total}}DT</strong></td>
							<td><a href={{path('commande')}} class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
                        </table>
                    </div>
                    
                  
                    
                           
                </form>
            </div>
        </div>
    </div>
</div>

<!--Shopping Cart Area End-->
{% endblock %}